.top-buffer {
    margin-top: 40px;
}

.div-top-buffer{
    margin-top: 350px;
    
    
}

#k {
    margin-top: 10px;
}

#login{
    padding-bottom:10px; 
    padding-top:10px;
    
}



body {
    background-color: #EEEEEE;
}
